.videocard{
    color:white;
    width:450px ;
    height:360px;
    padding :20px;
    transition: transform 100ms;
}

.videocard:hover{
    transform: scale(1.09);
}
.videocard > img{
    height :300px;
    width:400px;
    object-fit: contain;
}
.videoCard_stats{
    display:none;
}
.videocard:hover > .videoCard_stats{
    display: inline;
}